# --- Segurança (NUNCA SUBIR) ---
# Ignora as chaves reais e segredos do Datadog
terraform.tfvars
.env
*.env

# --- Terraform ---
# Arquivos de instalação do provider
.terraform/
.terraform.lock.hcl

# Arquivos de estado (podem conter dados sensíveis em texto claro)
*.tfstate
*.tfstate.backup

# --- Logs e Sistema ---
# Logs de erro e arquivos temporários do Linux/WSL
*.log
.DS_Store
Thumbs.db

# --- Outros ---
# Ignora arquivos de plano do terraform salvos
tfplan
